{%- extends "page.html" %}
{% block body %}

  <div class="col col-2">
    <h1>Publications</h1>

    {% for collection in catalog.collections|sort(reverse=True) %}
      {% set archive = catalog[collection] %}
      {% if archive|length %}

        <h2 class="archive-title">
          {%- if archive.href %}
            <a href="{{ archive.href }}">{{ archive }}</a>
          {%- else %}
            {{ archive }}
          {%- endif %}
        </h2>

        {% for post in archive %}
          <div class="post post-excerpt">
            <h3>
              <a href="{{ pathto(post.docname) }}{{ anchor(post) }}">{{ post.title }}</a>
            </h3>
            <p>
              {{ post.to_html(archive.docname) }}
            </p>
          </div>
        {% endfor %}

      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
