<div class="col col-1 sidebar sidebar-about">
  <img src="http://s.gravatar.com/avatar/2f9b8700bc745b0334f6ce49e9d3d448?s=120" class="avatar" align="right" />

  {% if pagename != 'about' %}
    <ul class="about-info">
      <li class="info-name">Anthony&nbsp;Johnson</li>
      <li class="info-twitter"><a href="https://twitter.com/agjhnsn">@agjhnsn</a></li>
    </ul>

    <p>
      Cofounder of <a href="http://readthedocs.com">Read the Docs, Inc</a>,
      residing in Portland, Oregon.
      I like to climb things.
    </p>

    <p>
      <a href="{{ pathto('about') }}">More</a>
    </p>

    <p>
      {% if atom_feed %}
      <a  href="{{ pathto(feed_path, 1) }}/atom.xml" title="{{ ablog.blog_title }}">RSS</a>
      {% endif %}
    </p>

  {% endif %}
</div>
